In [156]:
import pandas as pd
import numpy as np
import pycountry

## preprocessing with world happiness data of 2015

In [157]:
df = pd.read_csv('./dataset/world_happiness/overall/2015.csv')
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [158]:
print(df.shape)
df_nona = df.dropna()
print(df_nona.shape)

(158, 12)
(158, 12)

In [159]:
def get3countryCode(names):
    res = []
    for name in names:
        try:
            q = pycountry.countries.search_fuzzy(name)
            res.append(q[0].alpha_3)
        except LookupError:
            res.append(None)
    
    return pd.Series(res)

In [160]:
df['CountryCode'] = get3countryCode(df['Country'])

In [161]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,CountryCode
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,CHE
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,ISL
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,DNK
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,NOR
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,CAN

In [162]:
df['CountryCode'].isna().sum()

8

In [163]:
df_nona = df.dropna()
df_whn = df_nona.drop(['Country', 'Standard Error', 'Happiness Rank'], axis=1)
df_whn = df_whn.sort_values(by='CountryCode').reset_index()
df_whn.head()

,index,Region,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,CountryCode
0,152,Southern Asia,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,AFG
1,136,Sub-Saharan Africa,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939,AGO
2,94,Central and Eastern Europe,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894,ALB
3,19,Middle East and Northern Africa,6.901,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743,ARE
4,29,Latin America and Caribbean,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600,ARG

In [164]:
dup_codes = []
for code in df_whn['CountryCode'].unique():
    if len(df_whn[df_whn['CountryCode'] == code] ) > 1:
        dup_codes.append(code)

print(dup_codes)

['NGA', 'SRB']

In [165]:
df_whn = df_whn[~(df_whn['CountryCode'].isin(dup_codes))].reset_index().drop(['level_0', 'index'], axis=1)
df_whn.shape

(146, 10)

## Preprocessing with SGD data

In [166]:
sgd = pd.read_csv('./dataset/world_happiness/sustainable_develop_goals/sdg-csv-zip-7-mb-/SDGData.csv')
sgd = sgd.iloc[:, :sgd.shape[1]-1]
sgd['index'] = sgd.reset_index().index
sgd.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,index
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN,NaN,0
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,74.384239,74.382220,74.313160,75.349325,75.788522,76.214138,...,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN,1
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,57.770273,61.405699,61.960592,63.047098,63.573115,64.038528,...,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN,NaN,2
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,92.295464,92.272677,91.598673,92.425584,92.628785,92.862801,...,95.837901,95.985879,96.006040,96.386068,96.411432,96.574021,96.704393,NaN,NaN,3
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22.260538,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN,4

In [167]:
sgd_long = pd.wide_to_long(sgd, '', j='year', i='index', suffix='\d*').reset_index()
sgd_long = sgd_long.drop('index', axis=1)

In [168]:
sgd_long = sgd_long.rename(columns={'': 'value'})
sgd_long.head()

,year,Country Name,Indicator Code,Country Code,Indicator Name,value
0,1990,Arab World,EG.CFT.ACCS.ZS,ARB,Access to clean fuels and technologies for coo...,NaN
1,1990,Arab World,EG.ELC.ACCS.ZS,ARB,Access to electricity (% of population),74.384239
2,1990,Arab World,EG.ELC.ACCS.RU.ZS,ARB,"Access to electricity, rural (% of rural popul...",57.770273
3,1990,Arab World,EG.ELC.ACCS.UR.ZS,ARB,"Access to electricity, urban (% of urban popul...",92.295464
4,1990,Arab World,FX.OWN.TOTL.ZS,ARB,Account ownership at a financial institution o...,NaN

In [169]:
sgd_2015 = sgd_long[sgd_long['year'] == 2015]
sgd_2015.head()

,year,Country Name,Indicator Code,Country Code,Indicator Name,value
2465625,2015,Arab World,EG.CFT.ACCS.ZS,ARB,Access to clean fuels and technologies for coo...,84.230630
2465626,2015,Arab World,EG.ELC.ACCS.ZS,ARB,Access to electricity (% of population),88.517967
2465627,2015,Arab World,EG.ELC.ACCS.RU.ZS,ARB,"Access to electricity, rural (% of rural popul...",78.564439
2465628,2015,Arab World,EG.ELC.ACCS.UR.ZS,ARB,"Access to electricity, urban (% of urban popul...",96.574021
2465629,2015,Arab World,FX.OWN.TOTL.ZS,ARB,Account ownership at a financial institution o...,NaN

In [170]:
sgd_2015_urban = pd.concat([
    sgd_2015[sgd_2015['Indicator Name'].str.contains('urban')],
    sgd_2015[sgd_2015['Indicator Name'].str.contains('rural')] 
], axis=0)
sgd_2015_urban.head()

,year,Country Name,Indicator Code,Country Code,Indicator Name,value
2465628,2015,Arab World,EG.ELC.ACCS.UR.ZS,ARB,"Access to electricity, urban (% of urban popul...",96.574021
2465681,2015,Arab World,SP.REG.BRTH.UR.ZS,ARB,"Completeness of birth registration, urban (%)",NaN
2465849,2015,Arab World,SH.STA.ODFC.UR.ZS,ARB,"People practicing open defecation, urban (% of...",0.749802
2465852,2015,Arab World,SH.H2O.BASW.UR.ZS,ARB,People using at least basic drinking water ser...,92.908704
2465855,2015,Arab World,SH.STA.BASS.UR.ZS,ARB,People using at least basic sanitation service...,87.736981

In [171]:
code2name = {}
for code in sgd_2015_urban['Indicator Code'].unique():
    name = sgd_2015_urban[sgd_2015_urban['Indicator Code'] == code]['Indicator Name'].iloc[0]
    code2name[code] = name

code2name

{'EG.ELC.ACCS.UR.ZS': 'Access to electricity, urban (% of urban population)',
 'SP.REG.BRTH.UR.ZS': 'Completeness of birth registration, urban (%)',
 'SH.STA.ODFC.UR.ZS': 'People practicing open defecation, urban (% of urban population)',
 'SH.H2O.BASW.UR.ZS': 'People using at least basic drinking water services, urban (% of urban population)',
 'SH.STA.BASS.UR.ZS': 'People using at least basic sanitation services, urban (% of urban population)',
 'SH.H2O.SMDW.UR.ZS': 'People using safely managed drinking water services, urban (% of urban population)',
 'SH.STA.SMSS.UR.ZS': 'People using safely managed sanitation services, urban (% of urban population)',
 'SH.STA.HYGN.UR.ZS': 'People with basic handwashing facilities including soap and water, urban (% of urban population)',
 'EN.POP.SLUM.UR.ZS': 'Population living in slums (% of urban population)',
 'SI.POV.URHC': 'Urban poverty headcount ratio at national poverty lines (% of urban population)',
 'EG.ELC.ACCS.RU.ZS': 'Access to electricity, rural (% of rural population)',
 'SP.REG.BRTH.RU.ZS': 'Completeness of birth registration, rural (%)',
 'SH.STA.ODFC.RU.ZS': 'People practicing open defecation, rural (% of rural population)',
 'SH.H2O.BASW.RU.ZS': 'People using at least basic drinking water services, rural (% of rural population)',
 'SH.STA.BASS.RU.ZS': 'People using at least basic sanitation services, rural (% of rural population)',
 'SH.H2O.SMDW.RU.ZS': 'People using safely managed drinking water services, rural (% of rural population)',
 'SH.STA.SMSS.RU.ZS': 'People using safely managed sanitation services, rural (% of rural population)',
 'SH.STA.HYGN.RU.ZS': 'People with basic handwashing facilities including soap and water, rural (% of rural population)',
 'SI.POV.RUHC': 'Rural poverty headcount ratio at national poverty lines (% of rural population)'}

In [172]:
sgd_2015_urban_short = sgd_2015_urban.drop(['Country Name', 'Indicator Name'], axis=1)

In [173]:
sgd_2015_urban_expand = sgd_2015_urban_short.pivot(index='Country Code', columns='Indicator Code', values='value')
print(sgd_2015_urban_expand.shape)
sgd_2015_urban_expand.describe()

(263, 19)

Indicator Code,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,EN.POP.SLUM.UR.ZS,SH.H2O.BASW.RU.ZS,SH.H2O.BASW.UR.ZS,SH.H2O.SMDW.RU.ZS,SH.H2O.SMDW.UR.ZS,SH.STA.BASS.RU.ZS,SH.STA.BASS.UR.ZS,SH.STA.HYGN.RU.ZS,SH.STA.HYGN.UR.ZS,SH.STA.ODFC.RU.ZS,SH.STA.ODFC.UR.ZS,SH.STA.SMSS.RU.ZS,SH.STA.SMSS.UR.ZS,SI.POV.RUHC,SI.POV.URHC,SP.REG.BRTH.RU.ZS,SP.REG.BRTH.UR.ZS
count,244.000000,261.000000,0.0,216.000000,224.000000,25.000000,54.000000,215.000000,221.000000,81.000000,81.000000,215.000000,221.000000,42.000000,88.000000,8.000000,8.000000,14.000000,14.000000
mean,77.545344,91.742625,NaN,78.500269,93.287526,42.061081,76.116831,63.851085,77.930085,37.679917,51.156848,15.440263,2.830583,57.142715,62.673274,34.450000,21.600000,73.978571,84.035714
std,32.491634,15.564593,NaN,22.440486,8.240886,26.252846,25.182654,32.180297,23.825707,32.296872,32.491915,20.786268,5.663793,31.083010,29.260606,21.768457,13.171506,30.309612,20.346257
min,0.389227,20.356892,NaN,5.543800,59.556023,3.931001,0.000000,2.887091,16.189697,0.081600,1.761700,0.000000,0.000000,3.695888,5.584506,4.400000,1.300000,6.400000,35.600000
25%,57.749841,90.917809,NaN,60.583806,89.486936,23.089967,56.059513,34.288311,58.167270,9.668460,22.733320,0.000000,0.000000,30.788919,36.462234,23.100000,15.475000,56.525000,71.775000
50%,97.728798,99.806205,NaN,86.291227,96.680077,39.767406,86.006570,69.969296,89.172749,24.032960,43.728458,5.004047,0.526326,56.751306,67.301759,34.400000,23.650000,89.450000,95.250000
75%,100.000000,100.000000,NaN,98.202534,99.571372,54.810000,94.249512,95.504826,97.500000,73.069810,87.764820,25.845957,3.106780,90.439641,88.880607,44.425000,30.950000,95.900000,96.800000
max,100.000000,100.000000,NaN,100.000000,100.000000,99.390000,100.000000,100.000000,100.000000,97.022400,98.619440,88.650000,42.820710,100.000000,100.000000,68.700000,35.900000,99.500000,99.900000

In [174]:
sgd_2015_urban_expand.head()

Indicator Code,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,EN.POP.SLUM.UR.ZS,SH.H2O.BASW.RU.ZS,SH.H2O.BASW.UR.ZS,SH.H2O.SMDW.RU.ZS,SH.H2O.SMDW.UR.ZS,SH.STA.BASS.RU.ZS,SH.STA.BASS.UR.ZS,SH.STA.HYGN.RU.ZS,SH.STA.HYGN.UR.ZS,SH.STA.ODFC.RU.ZS,SH.STA.ODFC.UR.ZS,SH.STA.SMSS.RU.ZS,SH.STA.SMSS.UR.ZS,SI.POV.RUHC,SI.POV.URHC,SP.REG.BRTH.RU.ZS,SP.REG.BRTH.UR.ZS
Country Code,,,,,,,,,,,,,,,,,,,
ABW,91.856206,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,64.200000,92.5,NaN,53.483161,89.048629,NaN,NaN,32.959991,56.404706,29.01854,63.58285,18.481480,0.00000,NaN,NaN,NaN,NaN,36.0,63.5
AGO,7.000000,64.0,NaN,23.488065,63.256062,NaN,NaN,21.385504,62.347862,14.85933,37.10069,56.254151,3.10678,NaN,NaN,NaN,NaN,NaN,NaN
ALB,100.000000,100.0,NaN,89.875174,92.521470,NaN,NaN,96.885533,98.288014,NaN,NaN,0.469129,0.00000,63.940699,65.470639,NaN,NaN,NaN,NaN
AND,100.000000,100.0,NaN,100.000000,100.000000,NaN,NaN,100.000000,100.000000,NaN,NaN,0.000000,0.00000,100.000000,100.000000,NaN,NaN,NaN,NaN

In [175]:
sgd_2015_urban_filtered = sgd_2015_urban_expand[sgd_2015_urban_expand.index.isin(df_whn['CountryCode'])]
sgd_2015_urban_filtered.describe()

Indicator Code,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,EN.POP.SLUM.UR.ZS,SH.H2O.BASW.RU.ZS,SH.H2O.BASW.UR.ZS,SH.H2O.SMDW.RU.ZS,SH.H2O.SMDW.UR.ZS,SH.STA.BASS.RU.ZS,SH.STA.BASS.UR.ZS,SH.STA.HYGN.RU.ZS,SH.STA.HYGN.UR.ZS,SH.STA.ODFC.RU.ZS,SH.STA.ODFC.UR.ZS,SH.STA.SMSS.RU.ZS,SH.STA.SMSS.UR.ZS,SI.POV.RUHC,SI.POV.URHC,SP.REG.BRTH.RU.ZS,SP.REG.BRTH.UR.ZS
count,139.000000,145.000000,0.0,132.000000,135.000000,19.000000,37.000000,132.000000,134.000000,55.000000,55.000000,132.000000,134.000000,28.000000,59.000000,7.000000,7.000000,12.000000,12.000000
mean,78.736532,92.357634,NaN,80.686739,94.150816,42.452233,74.082054,68.175268,80.222040,41.777248,56.201673,12.585957,1.976050,65.548693,65.748143,31.257143,19.557143,71.066667,82.575000
std,34.243582,15.768440,NaN,21.545405,7.778319,28.683557,25.305432,32.318498,23.873713,33.398813,34.240571,19.910261,4.483005,29.682662,29.507241,21.393835,12.784868,31.916491,21.680285
min,0.389227,23.221741,NaN,23.488065,63.256062,3.931001,17.522624,2.887091,16.189697,0.081600,1.761700,0.000000,0.000000,3.695888,9.409370,4.400000,1.300000,6.400000,35.600000
25%,70.168647,95.910000,NaN,63.178913,91.492444,22.530881,46.506595,42.107814,64.708154,8.800245,21.389980,0.000000,0.000000,39.508485,37.576172,18.300000,11.550000,51.075000,65.900000
50%,99.988256,99.999069,NaN,88.365095,97.498331,38.623151,85.024629,80.730078,91.517353,40.246740,63.582850,1.186502,0.104145,74.607178,73.373123,33.600000,23.200000,88.000000,95.250000
75%,100.000000,100.000000,NaN,99.422831,99.723945,58.815695,94.389826,98.318084,98.245563,74.766220,89.061930,18.574410,1.709469,91.563386,93.078383,37.750000,26.700000,96.525000,97.375000
max,100.000000,100.000000,NaN,100.000000,100.000000,99.390000,100.000000,100.000000,100.000000,97.022400,98.619440,82.364717,28.051619,97.543928,100.000000,68.700000,35.900000,99.500000,99.900000

In [176]:
length = len(sgd_2015_urban_filtered)
threshold = 0.7
sgd_2015_urban_selected = sgd_2015_urban_filtered.loc[:, sgd_2015_urban_filtered.count() > threshold*length]

In [182]:
sgd_2015_urban_fillna = sgd_2015_urban_selected.fillna(sgd_2015_urban_selected.mean())
sgd_2015_urban_fillna = sgd_2015_urban_fillna.reset_index()
sgd_2015_urban_fillna.rename(columns={sgd_2015_urban_fillna.index.name: 'index'})
sgd_2015_urban_fillna.columns.name = ''
sgd_2015_urban_clean = sgd_2015_urban_fillna.rename(columns={'Country Code': 'CountryCode'})

In [178]:
sgd_2015_urban_clean

,Country Code,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,SH.H2O.BASW.RU.ZS,SH.H2O.BASW.UR.ZS,SH.STA.BASS.RU.ZS,SH.STA.BASS.UR.ZS,SH.STA.ODFC.RU.ZS,SH.STA.ODFC.UR.ZS
0,AFG,64.200000,92.500000,53.483161,89.048629,32.959991,56.404706,18.481480,0.000000
1,AGO,7.000000,64.000000,23.488065,63.256062,21.385504,62.347862,56.254151,3.106780
2,ALB,100.000000,100.000000,89.875174,92.521470,96.885533,98.288014,0.469129,0.000000
3,ARE,100.000000,100.000000,99.990000,99.570043,99.951710,99.981509,0.000000,0.000000
4,ARG,99.995209,99.995209,100.000000,99.593792,93.565937,94.954417,0.000000,1.472674
...,...,...,...,...,...,...,...,...,...
140,VNM,100.000000,100.000000,90.786985,91.991942,71.788264,90.986262,5.004047,1.577589
141,YEM,56.064632,96.951393,62.789527,84.662428,43.674760,89.932402,30.009883,1.032752
142,ZAF,72.851833,92.370308,62.625973,96.686084,68.672075,75.549669,4.918912,0.804059
143,ZMB,3.700000,67.700000,44.407829,85.504253,18.724212,48.995454,25.003175,1.032937
144,ZWE,9.700000,81.200000,53.534696,93.775631,31.242187,53.933167,39.099843,0.149887

## Merge World happiness data with SGD data

In [184]:
df_whn

,Region,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,CountryCode
0,Southern Asia,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,AFG
1,Sub-Saharan Africa,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939,AGO
2,Central and Eastern Europe,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894,ALB
3,Middle East and Northern Africa,6.901,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743,ARE
4,Latin America and Caribbean,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600,ARG
...,...,...,...,...,...,...,...,...,...,...
141,Southeastern Asia,5.360,0.63216,0.91226,0.74676,0.59444,0.10441,0.16860,2.20173,VNM
142,Middle East and Northern Africa,4.077,0.54649,0.68093,0.40064,0.35571,0.07854,0.09131,1.92313,YEM
143,Sub-Saharan Africa,4.642,0.92049,1.18468,0.27688,0.33207,0.08884,0.11973,1.71956,ZAF
144,Sub-Saharan Africa,5.129,0.47038,0.91612,0.29924,0.48827,0.12468,0.19591,2.63430,ZMB
145,Sub-Saharan Africa,4.610,0.27100,1.03276,0.33475,0.25861,0.08079,0.18987,2.44191,ZWE

In [185]:
sgd_2015_urban_clean

,CountryCode,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,SH.H2O.BASW.RU.ZS,SH.H2O.BASW.UR.ZS,SH.STA.BASS.RU.ZS,SH.STA.BASS.UR.ZS,SH.STA.ODFC.RU.ZS,SH.STA.ODFC.UR.ZS
0,AFG,64.200000,92.500000,53.483161,89.048629,32.959991,56.404706,18.481480,0.000000
1,AGO,7.000000,64.000000,23.488065,63.256062,21.385504,62.347862,56.254151,3.106780
2,ALB,100.000000,100.000000,89.875174,92.521470,96.885533,98.288014,0.469129,0.000000
3,ARE,100.000000,100.000000,99.990000,99.570043,99.951710,99.981509,0.000000,0.000000
4,ARG,99.995209,99.995209,100.000000,99.593792,93.565937,94.954417,0.000000,1.472674
...,...,...,...,...,...,...,...,...,...
140,VNM,100.000000,100.000000,90.786985,91.991942,71.788264,90.986262,5.004047,1.577589
141,YEM,56.064632,96.951393,62.789527,84.662428,43.674760,89.932402,30.009883,1.032752
142,ZAF,72.851833,92.370308,62.625973,96.686084,68.672075,75.549669,4.918912,0.804059
143,ZMB,3.700000,67.700000,44.407829,85.504253,18.724212,48.995454,25.003175,1.032937
144,ZWE,9.700000,81.200000,53.534696,93.775631,31.242187,53.933167,39.099843,0.149887

In [186]:
df_merged = df_whn.merge(sgd_2015_urban_clean, on='CountryCode')

In [187]:
df_merged

,Region,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,CountryCode,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,SH.H2O.BASW.RU.ZS,SH.H2O.BASW.UR.ZS,SH.STA.BASS.RU.ZS,SH.STA.BASS.UR.ZS,SH.STA.ODFC.RU.ZS,SH.STA.ODFC.UR.ZS
0,Southern Asia,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,AFG,64.200000,92.500000,53.483161,89.048629,32.959991,56.404706,18.481480,0.000000
1,Sub-Saharan Africa,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939,AGO,7.000000,64.000000,23.488065,63.256062,21.385504,62.347862,56.254151,3.106780
2,Central and Eastern Europe,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894,ALB,100.000000,100.000000,89.875174,92.521470,96.885533,98.288014,0.469129,0.000000
3,Middle East and Northern Africa,6.901,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743,ARE,100.000000,100.000000,99.990000,99.570043,99.951710,99.981509,0.000000,0.000000
4,Latin America and Caribbean,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600,ARG,99.995209,99.995209,100.000000,99.593792,93.565937,94.954417,0.000000,1.472674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Southeastern Asia,5.360,0.63216,0.91226,0.74676,0.59444,0.10441,0.16860,2.20173,VNM,100.000000,100.000000,90.786985,91.991942,71.788264,90.986262,5.004047,1.577589
141,Middle East and Northern Africa,4.077,0.54649,0.68093,0.40064,0.35571,0.07854,0.09131,1.92313,YEM,56.064632,96.951393,62.789527,84.662428,43.674760,89.932402,30.009883,1.032752
142,Sub-Saharan Africa,4.642,0.92049,1.18468,0.27688,0.33207,0.08884,0.11973,1.71956,ZAF,72.851833,92.370308,62.625973,96.686084,68.672075,75.549669,4.918912,0.804059
143,Sub-Saharan Africa,5.129,0.47038,0.91612,0.29924,0.48827,0.12468,0.19591,2.63430,ZMB,3.700000,67.700000,44.407829,85.504253,18.724212,48.995454,25.003175,1.032937
144,Sub-Saharan Africa,4.610,0.27100,1.03276,0.33475,0.25861,0.08079,0.18987,2.44191,ZWE,9.700000,81.200000,53.534696,93.775631,31.242187,53.933167,39.099843,0.149887

Region                           0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
CountryCode                      0
EG.ELC.ACCS.RU.ZS                0
EG.ELC.ACCS.UR.ZS                0
SH.H2O.BASW.RU.ZS                0
SH.H2O.BASW.UR.ZS                0
SH.STA.BASS.RU.ZS                0
SH.STA.BASS.UR.ZS                0
SH.STA.ODFC.RU.ZS                0
SH.STA.ODFC.UR.ZS                0
dtype: int64